@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    margin: 0;
    background: #272635;
}

.home-nav {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    padding-left: 5px;
    border-bottom: 5px solid;
    background: #006198;
    text-align: center;
}

.home-nav-content {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    gap: 50px;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    padding: 20px 0px;
}

.recent-workouts {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 25%;
    gap: 50px;
    justify-content: space-evenly;
}

.recent-workouts-header {
    text-align: center;
    font-family: 'Abel';
    font-size: 32px;
    color: #e8e9f3;
}

.btn {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0px;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.btn-green {
  background-color: #0aff2f;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(15, 126, 28, 0.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0px;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.btn:hover {
  background-color: #05a305;
  transform: translateY(-2px);
}

.btn-green:hover {
    background-color: #065d08;
    transform: translateY(-2px);
  }

.template-modal {
    display: flex;
    justify-content: center;
}

.workout-values {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    margin: 0;
}