@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #444;
    margin: 0;
}

.landing-page {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.landing-img {
    height: 95vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header {
    font-weight: 800;
    font-size: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto';
    color: #e8e9f3;
}

input {
    margin-bottom: 20px;
    height: 40px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    font-size: 25px;
}

label {
    font-size: 30px;
}

.loginSignupSeparator {
    font-size: 64px;
    color: #e8e9f3;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    align-self: center;
    align-items: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    padding: 25px;
    border-radius: 15px;
}

.btn {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 10px 0px;
    min-height: 56px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.btn:hover {
    background-color: #05a305;
    transform: translateY(-2px);
}