@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    font-family: 'Abel', sans-serif;
    margin: 50px;
}

p {
    color: rgba(0, 0, 0, 0.5);
    margin: 5px 0;
}

h1 {
    font-size: 22px;
    margin: 10px 0;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

.card-container {
    max-width: 20%;
    min-width: 350px;
    background: #46A0D2;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 15px 0px #006198;
    border-radius: 10px;
}

.header {
    display: block;
    align-self: flex-start;
    margin-left: 50px;
}

.stats {
    display: flex;
}

.stats p {
    margin-right: 20px;
}

.summary {
    display: flex;
    flex-direction: column;
}

.summary-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.exercises {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}